<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-quiv="Content-Type" content="text/html; charset=UTF-8" />

    <title>$title$</title>
  
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css" />

    <meta property="og:type" content="website"> 
    <meta property="og:title" content="$title$">
    <meta name="title" content="$title$">
  </head>

  <body>
    <main>
      <div id="title">
        <h1>$title$</h1>
      </div>
      $body$
    </main>
  </body>
</html>